

/*	Layout
	================================================ */
	html {
		box-sizing: border-box;
	}
	body {
		box-sizing: border-box;
		height: 100vh;
	}
	body>div#main-content {
		margin: 0;
	}

/*	Basic
	================================================ */
	html {
		font-family: "Source Sans Pro";
		qfont-size: 1em;
		--color: #204564;
		font-size: 3vw;
	}
	code {
		font-family: "Source Code Pro";
		font-size: 1rem;
	}

	table {
		border-collapse: collapse;
	}

	td, th {
		text-align: left;
		vertical-align: top;
		padding: .25em .5em;
		border: thin solid #eee;
	}

	h1 {
		margin: 0 0 .25em 0;
		font-size: 2em;
	}
	h2 {
		margin: 0 0 .25em 0;
		font-size: 1.5em;
	}
	h2+div {
		padding: .125em .75em .25em .75em;
	}
	p {
		margin: .5em 0;
		line-height: 1.5;
	}

	a {
		color: var(--color);
		text-decoration: none;
		border-bottom: thin solid;
	}

/*	h1
	================================================ */

	div.h1 {
		background-color: var(--color);
		text-align: center;
		color: white;
		text-shadow: none;
		/* padding: 1em; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		h1 {
			font-size: 4em;
			font-size: 8vw;
		}
		img {
			margin: 0 auto;
			qwidth: 12em;;
		}
		p {
			font-size: 3em;
			font-size: 6vw;
		}
		a {
			color: white;
			font-weight: bold;
			text-decoration: none;
			padding-bottom: .125em;
			font-size: 0.65em;
			font-size: 3vw;
		}

	}

	div.md>div.h3>pre {
		font-size: 0.5em;
	}

/*	h2
	================================================ */
	div.h2, div.h3 {
		color: #333;
		qfont-size: 3vw;
	}

	div.h2>h2 {
		font-size: 2em;
		background-color: var(--color);
		color: white;
		padding: .25em .5em;
	}

	div.h3>h3 {
		color: var(--color);
	}
	div.h2 code {
		font-size: .8em;
	}

/*	Key Characters
	================================================ */
	kbd {
		border-width: thin;
		border-style: solid none solid none;
		cursor: default;
		font-size: .8em;
		font-weight: bold;

		padding: 1px 4px;
		font-family: "Source Sans Pro",sans-serif;

		background-color: #fff;
		background-image: linear-gradient(to bottom, #fff, #f8f8f8);
		box-shadow: 0px 2px 2px #666;
	}

	kbd:first-child {
		border-radius: 3px 0px 0px 3px;
		border-style: solid none solid solid;
	}

	kbd:last-child {
		border-radius: 0px 3px 3px 0px;
		border-style: solid solid solid none;
	}
	kbd:only-child {
		border-radius: 3px;
		border-style: solid;
	}
