	body {
		font-family: "Source Sans Pro";
		font-size: 1em;
	}

	div code {
		font-family: "Source Code Pro";
		font-size: .9em;
	}

	table {
		border-collapse: collapse;
	}

	td, th {
		text-align: left;
		vertical-align: top;
		padding: .25em .5em;
		border: thin solid #eee;
	}

	body>pre>code {
		font-family: "Source Sans Pro";
		font-size: 1.2em;
	}
	h1 {
		margin: 0 0 .25em 0;
		font-size: 2em;
	}
	h2 {
		margin: 0 0 .25em 0;
		font-size: 1.5em;
	}
	h2+div {
		padding: .125em .75em .25em .75em;
	}
	p {
		margin: .5em 0;
	}
