/*	Content Text Properties
	============================================ */

	html, body {
		margin: 0;
		padding: 0;
	}


	body>div#main-content {
		--font-size:   1em;
		font-size: var(--font-size);
	}

/*	Content
	============================================ */

	body {
		background-color: #f8f8f8;
	}

	body>div#main-content {
		margin: 0;
		box-sizing: border-box;
		overflow: auto;
		height: 100%;
		padding: 0 0 0 0;
		border: thin solid #ccc;
		border: thin solid #f8f8f8;
		--margin: 1em;
		background-color: white;
	}

/*	Content Code
	============================================ */

	body>div#main-content>div>code {
		white-space: pre;
		tab-size: 4;
		outline: none;
	}


/*	Content Markdown
	============================================ */

	body.markdown>div#main-content>div {
		border: none;
	}
	body.markdown>div#main-content>div>div.md {
		white-space: normal;
		padding: 1rem;
		width: 100%;
	}

/*	Prism
	================================================ */

    div.md>div>pre>code[class*="language-"],
	div#main-content>div>code[class*="language-"] {
		background-color: white;
	}

	div.md>div>pre>code,
	div#main-content>div:only-child>code {
		height: calc(100vh - 1rem);
	}

	div#main-content>div+div {
		margin-top: 2em;
	}

	div.md>div>pre>code .token.tab,
	div.md>div>pre>code .token.crlf,
	div.md>div>pre>code .token.lf,
	div.md>div>pre>code .token.cr,
	div#main-content .token.tab,
	div#main-content .token.crlf,
	div#main-content .token.lf,
	div#main-content .token.cr {
		visibility: hidden;
    }

	div.md>div>pre>code[class*="language-"],
	div#main-content>div>code[class*="language-"] {
		font-family: "Source Code Pro", monospace;
		font-size: .8em;
		qpadding: .5em 0;
		line-height: 1.5;
	}

/*	Line Numbers
	================================================
	pre
		div.line-numbers
		code
	================================================ */

	div#main-content>div {
		display: flex;
	}

	div.line-numbers {
		box-sizing: border-box;
		white-space: pre;
		text-align: right;
		padding-right: .5rem;
		margin-right: .5rem;
		qbackground-color: #eee;
		overflow: auto;
		border-right: thin solid #ccc;
		background-color: #2A5F5B;
		background-color: #eee;
		background-color: #f8f8f8;
		border: none;
		color: white;
		color: #666;
		flex: 0 0 3em;
	}
	div.line-numbers::-webkit-scrollbar {
	    display: none;
	}
	code {
		flex: 1;
	}

	h2+div {
		border: thin solid #999;
		box-shadow: 2px 2px 2px #999;
		padding: .5em 1em;
	}

	@media print {
		div#main-content>div:nth-child(n+1) {
			break-before: page;
		}
		div.md>div>pre>code,
		div#main-content code {
			height: auto;
		}
	}
