/*	Content Text Properties
	============================================ */

	html, body {
		margin: 0;
		padding: 0;
	}


	pre {
		--font-size:   1em;
		font-size: var(--font-size);
	}

	body>pre>code {
		font-family: "Source Code Pro", monospace;
		font-size: .8em;
		padding: .5em 0;
		line-height: 1.5;
	}

/*	Content
	============================================ */

	body {
		background-color: #f8f8f8;
	}

	body>pre {
		margin: 0;
		box-sizing: border-box;
		overflow: auto;
		height: 100%;
		padding: 0 0 0 0;
		border: thin solid #ccc;
		margin: 1em;
		background-color: white;
	}
	body.markdown>pre {
		border: none;
	}
	body>pre>code {
		white-space: pre;
		tab-size: 4;
	}

	body.markdown>pre>code {
		white-space: normal;
		padding: 1rem;
	}

/*	Prism
	================================================ */

	pre[class*="language-"] {
		background-color: white;
	}

	pre code {

	}

	pre .token.tab,
	pre .token.crlf,
	pre .token.lf,
	pre .token.cr {
		visibility: hidden;
    }

/*	Line Numbers
	================================================
	pre
		div.line-numbers
		code
	================================================ */

	pre {
		display: flex;
	}

	div.line-numbers {
		box-sizing: border-box;
		white-space: pre;
		text-align: right;
		padding-right: .5rem;
		margin-right: .5rem;
		qbackground-color: #eee;
		overflow: auto;
		border-right: thin solid #ccc;
		background-color: #2A5F5B;
		background-color: #eee;
		border: none;
		color: white;
		color: #666;
		flex: 0 0 4em;
	}
	div.line-numbers::-webkit-scrollbar {
	    display: none;
	}
	code {
		flex: 1;
	}

	h2+div {
		border: thin solid #999;
		box-shadow: 2px 2px 2px #999;
		padding: .5em 1em;
	}
