header,footer,ul#tabs,nav#documents,div#index,span.resize,p#content-footer {
	display: none !important;
}

p#navigation {
	display: none;
}

main {
	display: block;
}
div#content {
	display: block;
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
}
div#content>h2 {
	display: none;
}
div#content>iframe {
    box-sizing: border-box;
    height: 100%;
}
