/*	Pager
	================================================ */

	@keyframes intro {
		from	{ opacity: 0;}
		to		{ opacity: 1; }
	}

	html {
		animation: intro 1s;
		-webkit-user-select: none;
		-webkit-app-region: drag;
	}

/*	Variables
	================================================ */

	body {
		--body-colour: #ddd;
		--h2-colour: #333;
		--footer-heading-colour: #666;
		--button-hover-colour: #c8c8c8;
		--button-background-color: #bbb;

		--top-colour: #204564;
		--bottom-colour: #3c617f;
		--document-panel-background: linear-gradient(to bottom, var(--top-colour), var(--bottom-colour));

		--top-inset: hsl(207, 60%, 40%);
		--bottom-inset: #2D618C;
		--highlight-inset: #63829B;
		--highlight-inset: hsl(207, 60%, 56%);

		--text-colour: white;
		--text-colour-hover: white;

		--monospace: "Source Code Pro", monospace;

		--white: white;
	}

/*	Layout
	================================================
	body
		header
			form#prompt
				output[name="message"]
				input[name="value"]
				button[name="ok"]
				button[name="cancel"]
		aside#about"
		main>
			ul#tabs
				li …
			div#pager
				nav#documents
					ul
						li#documents-open
							ul
								li …
						li#documents-recent
							ul
								li …
						li#documents-favourite
							ul
								li …
				span.resize
				div#document
					div#index
						h2
						ul
							li …
						form#control
							label
								input[name="show-highlight"]#control-show-highlight
							label
								input[name="show-documents"]#control-show-documents
							label
								input[name="full-screen"]#control-full-screen
					--	p#raw-message
					--		span.key
					span.resize#resize-index
					div#content.empty
						p#navigation
							button#previous
							button#next
						h2
						iframe
			p#content-footer
				span#footer-file
				span#footer-language
				span#footer-heading
		footer
			p
				span#footer-message

	================================================ */

	body {
		display: flex;
		height: 100vh;
		flex-direction: column;
		overflow: hidden;

		header,aside,main,footer {
			box-sizing: border-box;
			margin: 0em;
		}
		main, ul#tabs, div#pager, p#content-footer {
			box-sizing: border-box;
		}


		header {
			qheight: 2.5em;
			form#prompt {
				output[name="message"] {}
				input[name="value"] {}
				button[name="ok"] {}
				button[name="cancel"] {}
			}
		}

		aside#about {}

		main {
			flex: 1;
			width: 100vw;
			display: grid;
			grid-template-rows: 1.875rem 1fr 2rem;
			grid-template-columns: 1fr;

			div#pager {
				grid-row: 2/3;
			}
			p#content-footer {
				grid-row: 3/4;
			}

			div#pager {
				display: grid;
				margin: 0;

				nav#documents,
				div#index,
				div#content {
					box-sizing: border-box;
					max-height: calc(100vh - 4.5em);
				}

				div#document {
					display: grid;
					grid-template-columns: auto 1px 1fr;

					div#index,
					div#content {
						background-color: var(--white);
						outline: none;
						&>h2 {
							box-sizing: border-box;
							margin: 0;
							width: 100%;
							height: 2.75rem;
							padding: .25em .25em .25em .75em;
						}
					}

					div#index {
						width: 18em;
						qoverflow: auto;
					}
				}

				nav#documents {
					ul {
						li#documents-open {
							ul {
								li {}
							}
						}
						li#documents-recent {
							ul {
								li {}
							}
						}
						li#documents-favourite
						ul {
							li {}
						}
					}
				}
				span.resize {}
				div#document {
					div#index {
						h2 {}
						ul {
							li {
								button {}
								span {}
							}
						}
						form#control {
							label {
								input[name="show-highlight"]#control-show-highlight {}
							}
							label {
								input[name="show-documents"]#control-show-documents {}
							}
							label {
								input[name="full-screen"]#control-full-screen {}
							}
							ul#tabs {
								li {}
							}
						}
						p#raw-message {
							span.key {}
						}
					}
					span.resize#resize-index {}
					div#content.empty {
						p#navigation {
							button#previous {}
							button#next {}
						}
						h2 {}
						iframe {}
					}
				}
			}
			p#content-footer {
				span#footer-file {}
				span#footer-language {}
				span#footer-heading {}
			}
		}
		footer {
			p {
				span#footer-message {}
			}
		}
	}

/*	Pager
	================================================
	div#pager
		nav#documents
		span.resize
		div#document
			div#index
			span.resize
			div#content
	================================================ */

	div#pager {
	}


	main {
		div#pager {
			nav#documents,
			nav#documents+span.resize {
				display: none;
			}
		}
		&.show-documents {
			div#pager {
				grid-template-columns: auto 1px 1fr;

				nav#documents,
				nav#documents+span.resize {
					display: block;
				}

			}
		}
	}

/*	Index Grid
	================================================
	div#index
		h2
		ul
		p#raw-message
	================================================ */

		div#index {
			display: grid;
			grid-template-rows: 2.75rem 1fr 1.75rem;
			grid-template-columns: 1fr 8px;
			&>h2 {
				grid-row: 1/2;
			}
			&>ul {
				grid-row: 2/3;
			}
			&>form {
				grid-row: 3/4;
			}

			p#raw-message {
				box-sizing: border-box;
				margin-left: 1em;
				padding: .25em .5em .25em 1em;
				margin: 0 0 0 0;
			}
		}


	div#content {
		overflow: hidden;
		flex: 1;
	}

/*	Content Grid
	============================================ */

	div#content {
		border: thin #ccc;
		border-style: none none none none;
		padding: 1em;
		padding: 0;
		display: grid;
		grid-template-areas: "content-h2" "content-iframe" "content-footer";
		grid-template-rows: 2.75rem 1fr 0.25rem;
	}

	div#content h2					{grid-area: content-h2;}
	div#content>iframe				{grid-area: content-iframe;}
	div#content>p#content-footer	{grid-area: content-footer;}

	div#content>iframe {
		box-sizing: border-box;
		width: 100%;
		height: calc(100% - 2.75rem - 0px);
		height: 100%;
	}


	div#content>iframe {
		border: none;
	}

	p#content-footer {
		box-sizing: border-box;
		height: 2.5rem;
		padding: .25em .5em;
		margin: 0;
		border: thin solid #aaa;
		border-style: solid none;
		display: grid;
		grid-template-columns: 1fr auto auto;
		background-color: var(--bottom-colour);
		colour: white;
		text-shadow: none;
	}

	footer {
		margin: 0;
		colour: white;
		text-shadow: none;
		background-color: var(--bottom-colour);
	}

/*	Documents
	================================================ */

	nav#documents {
		background: var(--document-panel-background);
		color: var(--text-colour);
	}

/*	Pager
	================================================ */

	body {
		background-color: var(--body-colour);
	}

	header {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: .125em .5em .125em;
		background: linear-gradient(to bottom, #eee, #ddd);
		background: var(--document-panel-background);

		border-bottom: thin solid var(--top-inset);
		box-shadow: inset 0 -1px 0px var(--top-inset);

	}
		header>h1 {
			flex: 1;
			padding-left: 4em;
			text-align: left;
		}
		header>form {

		}
		header>form#prompt {
			flex: 3;
			display: none;
		}

	div#index>h2,
	div#content>h2 {
		color: var(--h2-colour);
		font-weight: normal;
		border-bottom: thin solid #666;
	}

	footer>p {
		margin: 0;
		display: flex;
		justify-content: flex-end;
		padding: .25rem;
	}
	footer span {
		box-sizing: border-box;
	}
	span#footer-message,
	span#footer-language,
	span#footer-file,
	span#footer-heading {
		border: thin solid #ccc;
		qborder: none;
		border-style: none none none solid;
		font-size: .8rem;
		color: var(--footer-heading-colour);
		min-width: 8em;
		text-align: center;
		padding: .25em .5em .375em .5em;
		background-color: transparent;
		font-family: var(--monospace);
		text-shadow: 0 1px 0 white;
		text-align: left;

		background-color: var(--bottom-colour);
		color: var(--white);
		color: var(--text-colour);
		text-shadow: none;
	}
	span#footer-file {
		border: none;
	}
	span#footer-language {

	}
	span#footer-heading {

	}
	footer span:empty {
		display: none;
	}

/*	Control
	================================================ */
	form#control {
		display: grid;
		grid-template-columns: auto auto auto 1fr;
		background-color: var(--top-inset);
		width: 100%;
		p#raw-message {
			display: none;
		}

	/*	Button Appearances
		============================================ */
		label {
			background-color: var(--top-inset);
			border: thin solid #ccc;
			padding: .25em .75em;
			font-size: .85rem;
			color: var(--text-colour);
			margin: .125em 0 0 0;
			box-sizing: border-box;
			display: inline-block;
			font-family: "Source Sans Pro", sans-serif;
			border: none;
			line-height: 1.25rem;
			&:has(:checked) {
				background-color: var(--highlight-inset);
			}
			&:has(:hover) {
				background-color: var(--button-hover-colour);
				animation: none;
			}
		}
		button:hover {
			color: var(--text-colour-hover);
			background-color: var(--button-background-color);
			border: thick solid green;
		}

		/*	Highlighted
			============================================
			============================================ */

			input[name="show-highlight"],
			input[name="show-documents"],
			input[name="full-screen"] {
				display: none;
				appearance: none;
				-webkit-appearance: none;
				&+label {

				}
				&:hover+label {
					background-color: #c8c8c8;
					animation: none;
				}
				&:checked+label {
					background-color: var(--highlight-inset);
				}
			}
			label {
				margin-left: 0.5em;
				margin-right: 0.5em;
				display: block;
			}
			label:has(input[name="show-documents"]) {
				transform: rotate(90deg);
				background: none;
			}
			label:has(input[name="show-documents"]:checked) {
				transform: rotate(270deg);
			}
		}

/*	Tabs
	============================================ */

	ul#tabs {
		width: 100%;
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		margin-left: auto;
		background: linear-gradient(to bottom, var(--top-inset), var(--bottom-inset));
		font-size: .8rem;
		height: 2rem;
		&>li {
			padding: .5em .25em .25em .75em;
			text-align: center;
			display: flex;
			justify-content: space-between;
			border: thin solid;
			border-style: none solid none solid;
			border-color: transparent white transparent transparent;
			qborder-radius: 8px 18px 0 0;
			color: var(--text-colour);
			white-space: pre;
			&.selected {
				background-color: var(--highlight-inset);
			}
			&>button {
				box-sizing: border-box;
				border: thin solid transparent;
				margin-left: .25em;
				display: inline-block;
				background-color: transparent;
				border-radius: .125em;
				position: relative;
				top: .125em;
				font-weight: light;
				color: var(--text-colour);
				font-size: 1.2em;
				padding: .125em;
				qbackground-color: orange;
				height: 1em;
				line-height: 0.25;
				&:hover {
					background-color: var(--highlight-inset);
					border: thin solid transparent;
				}
			}
		}
	}

/*	Index Properties
	============================================ */

	div#index {
		box-sizing: border-box;
		qpadding: .25em 1em;
		padding: 0 0 0 0;
		overflow: hidden;
		border: thin #ccc;
		border-style: none none none none;
		&>h2 {

		}
		&>ul {
			overflow: auto;
			list-style: none;
			margin: 0 0 0 1em;
			padding: 0;
			border: thin #666;
			border-style: none none solid none;
			border: none;
			&>li {
				cursor: default;
				&>span {
					padding: .25em .5em;
				}
				&>ul>li>span {
					padding: .25em .5em .25em 1.25em;
				}
				&:nth-child(n+2) {
					border-top: thin solid #999;
				}
				/*	Major & Minor
					============================================ */
					font-weight: bold;
					&>ul {
						list-style: none;
						padding: 0;
						&>li {
							border-top: thin solid #999;
							font-weight: normal;
							margin: 0;
						}
					}
			}
		}

		& ul {
			&>li:not(.selected)>span {
				background-color: none;
			}
			&>li.selected>span {
				background-color: #eee;
			}
			&>li:not(.selected) {
				background-color: white;
			}
			&>li>span {
				display: block;
			}
			&>li>span:hover {
				background-color: #ddd !important;
			}

		}

	}

/*	resize
	============================================ */

	span.resize {
		qbox-sizing: border-box;
		cursor: col-resize;
		background: none;
		border: none;
		background-color: white;
		border-left: thin solid #999;
		position: relative;
		&:after {
			content: "a";
			left: 0;
		}
		&:before {
			content: "b";
			right: 0;
		}
		&:after, &:before {
			opacity: 0;
			width: 4px;
			display: block;
			height: 100%;
			position: absolute;
			background-color: red;
		}
	}

/*	Raw Message
	============================================ */

	p#raw-message {
		border: thin #aaa;
		border-style: solid none none none;
		background-color: #eee;
		font-size: .8rem;
	}

/*	Content
	============================================
	See also: content.css
	============================================ */

	div#content {
		div#content h2:hover {
			background-color: #eee;
			text-shadow: 0 1px white;
		}

		&>iframe {
			qborder: none;
		}
		&>form#search {
			display: flex;
			display: none;
		}

		&.empty>p#navigation {
			display: none;
		}
	}


	button#previous,
	button#next {
		border: thin solid;
		color: #2F5FA1;
		background-color: white;
		border-radius: .125em;
	}


	p#navigation {
		position: absolute;
		right: 1em;
		top: 3em;
		padding: .5em;
	}
	button#previous,
	button#next {
		font-size: 2em;
		padding: 0 .25em .1875em;
		line-height: .5em;
		opacity: .25;
		transition: opacity .25s;
		outline: none;
		margin-top: .5em;
		border: none;
	}
	p#navigation:hover>button#previous,
	p#navigation:hover>button#next {
		opacity: 1;
	}

/*	About
	================================================
	I don’t think we use this any more
	================================================ */

	aside#about {
		border: thin solid darkgreen;

		position: fixed;
		top: 0; bottom: 0; left: 0; right: 0;
		width: 400px; height: 600px;
		margin: auto;
		background-color: white;
		border: thick solid rgb(47, 79, 79);
		padding: 1em;
		box-shadow: 4px 4px 4px #666;
		overflow: auto;
		-moz-tab-size: 4;
		tab-size: 4;
		z-index: 2;
		display: none;

		p.about {
			font-weight: bold;
		}
		li {
			line-height: 1.8;
		}

		pre {
			margin: 0 2em;
		}

		h2, h3 {
			color: rgb(47, 79, 79);
		}
		a {
			text-decoration: none;
			color: rgb(47, 79, 79);
			font-weight: bold;
			&::after {
				content: attr(href);
				font-weight: normal;
				margin-left: .5em;
			}
		}
	}

	div#about-background {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(127,127,127,.5);
		top: 0;
		left: 0;

		z-index: 1;
		display: none;
	}

/*	Search
	================================================ */

	form#search {
		display: none;
		display: flex;
		background-color: #f8f8f8;
		padding: .25rem .25rem;
		font-size: .8rem;
		width: 100%;
		&>div {
			flex: 1;
			display: flex;
		}
		& input[name="text"],
		& input[name="replacement"] {
			font-family: var(--monospace);
			padding: .125em .5em .25em;
			flex: 1;
		}
		& input[id="search-case-sensitive"] {
			display: none;
		}
		& input[id="search-case-sensitive"]+label {
			border: thin solid #ddd;
			background: linear-gradient(to bottom, #f8f8f8, #eee);
			box-shadow:
				inset 1px 1px 1px white,
				inset -1px -1px 1px #ddd
				;
			padding: .125em .5em .25em;
			margin-right: 2em;
		}
		& input[id="search-case-sensitive"]:checked+label {
			color: white;
			color: var(--text-colour);
			border: thin solid #666;
			background: linear-gradient(to bottom, #777, #666);
			box-shadow:
				inset 1px 1px 1px #666;
		}
	}


/*	Tabs
	================================================ */

	ul#tabs {
		&>li[draggable] {
			qbackground-color: #f8f8f8;
			user-select: none;
			box-sizing: border-box;
			qborder: thin solid transparent;
		}
		&>li.tabgroup-start {
			cursor: move;
		}
		&>li.tabgroup-before {
			border-left-color: #666;
		}
		&>li.tabgroup-after {
			border-right-color: #666;
		}
	}


/*	Document Tabs
	================================================ */

	nav#documents {
		&>ul>li {
			padding: 0;
			&>ul {
				display: none;
				margin-left: 1em;
			}
			&.open {
				&>ul {
					display: block;
				}
				&:before {
					top: .2em;
					transform: rotate(90deg);
				}
			}
			&::before {
				font-size: 1.6em;
				content: "»";
				display: inline-block;
				width: .5em;
				position: relative;
				font-weight: bold;
				transition: transform .125s;
				top: .0625em;
				margin-right: 0.125em;
			}
		}
	}

		nav#documents ul {
			list-style: none;
			padding: 0;
		}

		nav#documents>ul {
			font-weight: bold;
			margin: .25em .5em;
			&>li {
				padding: .125em .5em;
			}
			&>li>ul {
				margin: .5em 0 0 0;
				font-weight: normal;
			}
			&>li>ul>li {
				border-top: thin solid #ccc;
			}
			&>li>ul>li:last-of-type {
				border-bottom: thin solid #ccc;
			}
		}

		nav#documents>ul>li>ul>li,
		nav#documents li>a {
			font-size: .9rem;
			text-decoration: none;
			display: block;
			color: #333;
			padding: .25em 0 .125em .5em;
			qtext-shadow: 0 1px 0 white;
			color: white;
			color: var(--text-color);
			display: flex;
			justify-content: space-between;
			&:hover {
				background-color: var(--top-inset);
			}
			&>button {
				box-sizing: border-box;
				border: thin solid transparent;
				display: inline-block;
				background-color: transparent;
				position: relative;
				top: .0625em;
				font-weight: light;
				color: var(--highlight-inset);
				font-size: 1.2em;
				padding: .125em;
				line-height: 1;
				&:hover {
					color: var(--text-color);
				}
			}
		}

/*	Index Headings
	================================================ */

	div#index {
		&>ul {
			&>li {
				&>button {
					box-sizing: border-box;
					background-color: transparent;
					display: inline-block;
					height: 1em;
					width: 1em;
					padding: .0em .0625em .125em .125em;
					border: none;
					font-weight: bold;
					font-size: 1.4em;
					line-height: 0;
					position: relative;
					text-align: center;
					outline: none;
				}
				&.open {
					&>button {
						transform: rotate(90deg);
						padding-bottom: .125em
					}
					&>ul {
						display: block;
					}
				}
				&>span {
					display: inline-block;
				}
				&>ul {
					display: none;
					margin-left: .625em;
				}
			}
		}

		& ul {
			&>li.subtitle {
				margin-left: 1.25em;
				display: flex;
				justify-content: flex-start;
			}
			&>li.subtitle:before {
				content: "»";
				display: inline-block;
				width: .25em;
				margin-top: .125em;
			}
			&>li.subtitle>span {
				padding: .25em .5em
			}
		}
	}
